@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Roll, jump, and master the marble physics to make your way through 50 breathtaking levels! Experience first-hand the simple joy of rolling while exploring a gloriously psychedelic world filled with unlockable items and secrets. Racing to the goal line is an accomplishment at all levels of play – and with leaderboard replays, ghost races, and rewards  to help push you toward the next level, you’ll be a master in no time!

    To learn more, head over to <a href="https://marbleitup.com/">the game's website</a>
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/6vtTBc65ZVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>