@{
    ViewData["Title"] = "Leaderboard";
}

<h1 style="text-align:center;">Marble It Up! World Records Leaderboard</h1>

<div>
    <iframe id="spreadsheet" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSEIHOHebu7XnC8nM7yHaGPHMAgA2GgcZ25BnnsmnXKgLPpaeujTaC2YPnAVtbksiuFvWMPx6IjuIHs/pubhtml?gid=441934859&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=false"></iframe>
</div>
<span>Sadly, I discovered that embedded Google Spreadsheets are locked at the current height, and cannot be changed. Otherwise, you would be able to see the whole spreadsheet on this page.</span>